.card-front-back {
    --card-width: 130px;
    --card-height: 160px;
    width: var(--card-width);
    height: var(--card-height);
    transform-style: preserve-3d;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.42, 0, 0.54, 1.68);
    cursor: pointer;
}

.card-front-back.-active {
    transform: rotateY(180deg);
}

.card-front-back > .card {
    position: absolute;
    backface-visibility: hidden;
}

.card-front-back > .card.-back {
    transform: rotateY(180deg); 
}

.card-front-back > .card.-back > .card-game {
    background-color: var(--color-fiery-rose);
}